core:
  enabled: true
  address: '' # ip address to bind (default: any)
  port: 9012
  ssl: false
  #ssl_port: 9013
  #cert_path: /path/to/ssl_cert
  #cert_key_path: /path/to/ssl_cert_key
  mode: 'release'
  public_url: '' # public url for web browser request, need last slash
  archive_path: /tmp/gitarchive

log:
  format: "string" # string or json
  access_log: "stdout" # stdout: output to console, or define log path like "log/access_log"
  access_level: "info"
  error_log: "stderr" # stderr: output to console, or define log path like "log/error_log"
  error_level: "error"
  agent:
    enabled: false
    dsn: 'udp://logstash.example.com:8911'
    app_id: dandelion
    #host: '' # log host, defaults to os.Getenv("HOST") or os.Hostname()
    #instance_id: '' # log instance_id, defaults to os.Getenv("INSTANCE_ID") or os.Hostname()

repository:
  repository_path: /tmp/gittest
  remote_url: git@github.com:tengattack/gittest.git
  #http_proxy: ''

database:
  host: '127.0.0.1'
  port: 3306
  name: 'app_missevan'
  user: 'root'
  pass: 'password'
  max_idle_conns: 0 # default max idle conns is runtime.NumCPU()

kafka:
  enabled: true # default: true
  topic: test
  servers:
    - 127.0.0.1:9092

kubernetes:
  in_cluster: false # default: false
  config: '~/.kube/config'
  namespace: 'default' # default: 'default'
  node_name_format: ''
  node_name_range: [0, 999] # default: [0, 999]

registry:
  #service: registry # or harbor
  endpoint: 'http://127.0.0.1:5000'
  #username:
  #password:
  #verify: true

# send events to webhook
webhook:
  url: '' # default: '' (disabled)
