.DS_Store

node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# testing
coverage

# config
config.yml

# executable
/cmd/dandelion/dandelion
/cmd/dandelion/dandelion.exe
/cmd/dandelion-seed/dandelion-seed
/cmd/dandelion-seed/dandelion-seed.exe

# web public
/web/public/assets
/web/public/index.html
