@import "variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  color: $black;
  text-decoration: none;
}

body {
  font-family: $font-family;
}

@import "components/main.scss";
@import "containers/main.scss";
