
$font-family:                 "Helvetica Neue", "Hiragino Sans GB", "Microsoft Yahei", Sans-serif, Verdana !default;

$white:                       #FFFFFF !default;  // White
$black:                       #000000 !default;  // Black

$red:                         #C14A3F !default;
$red-light:                   #F44336 !default;  // Red-500
$red-dark:                    #C62828 !default;  // Red-800

$grey-dark:                   #E0E0E0 !default;  // Grey-300
$grey-darker:                 #909090 !default;

$border-color:                #E1E1E1 !default;

$screen-trans:                .5s ease !default;
$show-trans:                  .3s ease !default;
$hover-trans:                 .2s ease !default;
