#app {
  text-align: center;
  .app-logo {
    float: left;
    height: 80px;
    margin-right: 20px;
  }
  .app-header {
    height: 120px;
    line-height: 80px;
    padding: 20px;
    background-color: #222;
    color: white;
    .app-title {
      float: left;
      font-size: 1.5em;
      color: $white;
    }
    .app-intro {
      font-size: large;
    }
    .s {
      float: left;
      margin: 0 10px;
    }
  }
}
